/*
Hide color mode toggle in small viewports
 */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  & svg {
    width: 100%;
    height: 100%;
    fill: var(--ifm-font-color-base);

    &:hover {
      fill: var(--ifm-link-color) !important;
    }
  }
}
