.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
  .breadcrumbsContainer {
    position: fixed;
    z-index: 10000;
    top: 16px;
    left: 316px;
    transition: all 0.3s ease;
  }

}

.toc {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 130px;
}

