.separator {
  --separator-color: #ececec;

  height: 1px;
  width: 100%;
  background-color: var(--separator-color);
  margin-top: 38px;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
}

[data-theme="dark"] .separator {
  --separator-color: #2c2e30;
}

[data-theme="light"] .separator.example {
  --separator-color: #e6eff9;
}

.separator.example {
  margin: 26px 0;
}

.separator::after {
  content: attr(data-label);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--separator-text-bg-dark);
  padding: 0 0.625rem;
  font-size: 0.625rem;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 600;
  color: #b8b8b8;
  z-index: 10;
}

[data-theme="light"] .separator::after {
  background-color: var(--separator-text-bg-light);
  color: #9fa2a8 !important;
}
