.tocCollapsibleButton {
  --arrow-color: black;

  [data-theme="dark"] & {
    --arrow-color: white;
  }

  z-index: 100;
  background-color: var(--colapsible-background-color);
  border-top: 1px solid var(--navigation-border-header-color);
  font-size: var(--text-size);
  position: fixed;
  inset: auto 0 0 0;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.tocCollapsibleButton::after {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--arrow-color);
  transition: transform 0.2s ease-in-out;
}

.tocCollapsibleButtonExpanded::after {
  transform: rotate(180deg);
}
