{
  "info": {
    "title": "API title",
    "version": "0.0.1"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "api.3commas.io",
  "basePath": "/public/api",
  "tags": [
    {
      "name": "bots",
      "description": "Operations about bots"
    },
    {
      "name": "deals",
      "description": "Operations about deals"
    },
    {
      "name": "users",
      "description": "Operations about users"
    },
    {
      "name": "accounts",
      "description": "Operations about accounts"
    },
    {
      "name": "smart_trades",
      "description": "Operations about smart_trades"
    },
    {
      "name": "marketplace",
      "description": "Operations about marketplaces"
    },
    {
      "name": "grid_bots",
      "description": "Operations about grid_bots"
    },
    {
      "name": "loose_accounts",
      "description": "Operations about loose_accounts"
    },
    {
      "name": "ping",
      "description": "Operations about pings"
    },
    {
      "name": "time",
      "description": "Operations about times"
    },
    {
      "name": "smart_trades_v2",
      "description": "Operations about smart_trades_v2s"
    }
  ],
  "paths": {
    "/ver1/bots/strategy_list": {
      "get": {
        "description": "Available strategy list for bot (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "type",
            "type": "string",
            "enum": [
              "simple",
              "composite"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "strategy",
            "type": "string",
            "enum": [
              "long",
              "short"
            ],
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Available strategy list for bot (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1BotsStrategyList"
      }
    },
    "/ver1/bots/pairs_black_list": {
      "get": {
        "description": "Black List for bot pairs (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Black List for bot pairs (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1BotsPairsBlackList"
      }
    },
    "/ver1/bots/update_pairs_black_list": {
      "post": {
        "description": "Create or Update pairs BlackList for bots (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "pairs",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Create or Update pairs BlackList for bots (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsUpdatePairsBlackList"
      }
    },
    "/ver1/bots/create_bot": {
      "post": {
        "description": "Create bot (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pairs",
            "description": "Pass single pair to create SingleBot or any other number of pairs to create MultiBot",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "max_active_deals",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "base_order_volume",
            "description": "Base order size",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "base_order_volume_type",
            "description": "base order volume currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency",
              "percent",
              "xbt"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit",
            "description": "Target profit(percentage)",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "safety_order_volume",
            "description": "Safety trade size",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "safety_order_volume_type",
            "description": "safety order volume currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency",
              "percent",
              "xbt"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "martingale_volume_coefficient",
            "type": "number",
            "format": "double",
            "default": 1,
            "required": true
          },
          {
            "in": "formData",
            "name": "martingale_step_coefficient",
            "type": "number",
            "format": "double",
            "default": 1,
            "required": true
          },
          {
            "in": "formData",
            "name": "max_safety_orders",
            "description": "Max safety trades count",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "active_safety_orders_count",
            "description": "Max active safety trades count",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "stop_loss_percentage",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "cooldown",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_enabled",
            "description": "Enable trailing take profit. Binance only.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_deviation",
            "description": "required if trailing_enabled",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "btc_price_limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "strategy",
            "type": "string",
            "default": "long",
            "enum": [
              "short",
              "long"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "safety_order_step_percentage",
            "description": "Price deviation to open safety trades(percentage)",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "take_profit_type",
            "description": "Percentage: base – from base order, total – from total volume",
            "type": "string",
            "default": "base",
            "enum": [
              "base",
              "total"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "strategy_list",
            "description": "For manual signals: [{\"strategy\":\"manual\"}] or []<br>\n                                                        For non-stop(1 pair only): [{\"strategy\":\"nonstop\"}]<br>\n                                                        QFL: {\"options\": {\"type\": \"original\"}, {\"percent\": 3}, \"strategy\": \"qfl\"}] <br>\n                                                        TradingView: [{\"options\": {\"time\": \"5m\", \"type\": \"buy_or_strong_buy\"}, \"strategy\": \"trading_view\"} ",
            "type": "array",
            "items": {
              "type": "json"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "leverage_type",
            "description": "Used for Bitmex bots only",
            "type": "string",
            "default": "not_specified",
            "enum": [
              "custom",
              "cross",
              "not_specified",
              "isolated"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "leverage_custom_value",
            "description": "required if leverage_type is isolated",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "min_price",
            "description": "minimum price to open deal",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "max_price",
            "description": "maximum price to open deal",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_in_seconds",
            "description": "StopLoss timeout in seconds if StopLoss timeout enabled",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "min_volume_btc_24h",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "tsl_enabled",
            "description": "Enable trailing stop loss. Bitmex only.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "deal_start_delay_seconds",
            "description": "Deal start delay in seconds",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "profit_currency",
            "description": "Take profit currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "start_order_type",
            "type": "string",
            "enum": [
              "limit",
              "market"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_type",
            "type": "string",
            "enum": [
              "stop_loss",
              "stop_loss_and_disable_bot"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "disable_after_deals_count",
            "description": "Bot will be disabled after opening this number of deals",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "allowed_deals_on_same_pair",
            "description": "Allow specific number of deals on the same pair. Multibot only.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "close_deals_timeout",
            "description": "Close bot deals after given number of seconds. Must be greater than 60.",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create bot (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsCreateBot"
      }
    },
    "/ver1/bots": {
      "get": {
        "description": "User bots (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit records. Max: 100",
            "type": "integer",
            "format": "int32",
            "default": 50,
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset records",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "from",
            "description": "Param for a filter by created date",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "account_id",
            "description": "Account to show bots on. Return all if not specified. Gather this from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "scope",
            "type": "string",
            "enum": [
              "enabled",
              "disabled"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "strategy",
            "type": "string",
            "enum": [
              "long",
              "short"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_by",
            "type": "string",
            "default": "created_at",
            "enum": [
              "profit",
              "created_at",
              "updated_at"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "sort_direction",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "quote",
            "description": "Quote currency",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User bots (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1Bots"
      }
    },
    "/ver1/bots/stats": {
      "get": {
        "description": "Get bot stats (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "description": "Account to show on. Null - show for all. Gather this from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "bot_id",
            "description": "Bots to show on. Null - show for all",
            "type": "integer",
            "format": "int32",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get bot stats (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1BotsStats"
      }
    },
    "/ver1/bots/{bot_id}/copy_and_create": {
      "post": {
        "description": "POST /bots/:id/copy_and_create. Permission: BOTS_WRITE, Security: SIGNED",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "secret",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "amount",
            "description": "Max amount for bot usage (Based on current rate)",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "POST /bots/:id/copy_and_create. Permission: BOTS_WRITE, Security: SIGNED"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdCopyAndCreate"
      }
    },
    "/ver1/bots/{bot_id}/update": {
      "patch": {
        "description": "Edit bot (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "pairs",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "max_active_deals",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "formData",
            "name": "base_order_volume",
            "description": "Base order size",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "base_order_volume_type",
            "description": "base order volume currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency",
              "percent",
              "xbt"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit",
            "description": "Target profit(percentage)",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "safety_order_volume",
            "description": "Safety trade size",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "safety_order_volume_type",
            "description": "safety order volume currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency",
              "percent",
              "xbt"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "martingale_volume_coefficient",
            "type": "number",
            "format": "double",
            "default": 1,
            "required": true
          },
          {
            "in": "formData",
            "name": "martingale_step_coefficient",
            "type": "number",
            "format": "double",
            "default": 1,
            "required": true
          },
          {
            "in": "formData",
            "name": "max_safety_orders",
            "description": "Max safety trades count",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "active_safety_orders_count",
            "description": "Max active safety trades count",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "stop_loss_percentage",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "cooldown",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_enabled",
            "description": "Enable trailing take profit. Binance only.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_deviation",
            "description": "required if trailing_enabled",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "btc_price_limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "safety_order_step_percentage",
            "description": "Price deviation to open safety trades(percentage)",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "take_profit_type",
            "description": "Percentage: base – from base order, total – from total volume",
            "type": "string",
            "default": "total",
            "enum": [
              "total",
              "base"
            ],
            "required": true
          },
          {
            "in": "formData",
            "name": "strategy_list",
            "description": "For manual signals: [{\"strategy\":\"manual\"}] or []<br>\n                                                        For non-stop(1 pair only): [{\"strategy\":\"nonstop\"}]<br>\n                                                        QFL: {\"options\": {\"type\": \"original\"}, {\"percent\": 3}, \"strategy\": \"qfl\"}] <br>\n                                                        TradingView: [{\"options\": {\"time\": \"5m\", \"type\": \"buy_or_strong_buy\", \"strategy\": \"trading_view\"} ",
            "type": "array",
            "items": {
              "type": "json"
            },
            "required": true
          },
          {
            "in": "formData",
            "name": "leverage_type",
            "description": "Used for Bitmex bots only",
            "type": "string",
            "default": "not_specified",
            "enum": [
              "custom",
              "cross",
              "not_specified",
              "isolated"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "leverage_custom_value",
            "description": "required if leverage_type is isolated",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "min_price",
            "description": "minimum price to open deal",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "max_price",
            "description": "maximum price to open deal",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_in_seconds",
            "description": "StopLoss timeout in seconds if StopLoss timeout enabled",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "min_volume_btc_24h",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "tsl_enabled",
            "description": "Enable trailing stop loss. Bitmex only.",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "deal_start_delay_seconds",
            "description": "Deal start delay in seconds",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "profit_currency",
            "description": "Take profit currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "start_order_type",
            "type": "string",
            "enum": [
              "limit",
              "market"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_type",
            "type": "string",
            "enum": [
              "stop_loss",
              "stop_loss_and_disable_bot"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "disable_after_deals_count",
            "description": "Bot will be disabled after opening this number of deals",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "allowed_deals_on_same_pair",
            "description": "Allow specific number of deals on the same pair. Multibot only.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Edit bot (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "patchVer1BotsBotIdUpdate"
      }
    },
    "/ver1/bots/{bot_id}/disable": {
      "post": {
        "description": "Disable bot (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Disable bot (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdDisable"
      }
    },
    "/ver1/bots/{bot_id}/enable": {
      "post": {
        "description": "Enable bot (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Enable bot (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdEnable"
      }
    },
    "/ver1/bots/{bot_id}/start_new_deal": {
      "post": {
        "description": "Start new deal asap (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "pair",
            "description": "Can be omited for simple bot",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "skip_signal_checks",
            "description": "If false or not specified then all paramaters like signals or volume filters will be checked. If true - those checks will be skipped",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "skip_open_deals_checks",
            "description": "If true then you will be allowed to open more then one deal per pair in composite bot",
            "type": "boolean",
            "required": false
          },
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Start new deal asap (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdStartNewDeal"
      }
    },
    "/ver1/bots/{bot_id}/delete": {
      "post": {
        "description": "Delete bot (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Delete bot (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdDelete"
      }
    },
    "/ver1/bots/{bot_id}/panic_sell_all_deals": {
      "post": {
        "description": "Panic sell all bot deals (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Panic sell all bot deals (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdPanicSellAllDeals"
      }
    },
    "/ver1/bots/{bot_id}/cancel_all_deals": {
      "post": {
        "description": "Cancel all bot deals (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Cancel all bot deals (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "postVer1BotsBotIdCancelAllDeals"
      }
    },
    "/ver1/bots/{bot_id}/deals_stats": {
      "get": {
        "description": "Bot deals stats (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Bot deals stats (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1BotsBotIdDealsStats"
      }
    },
    "/ver1/bots/{bot_id}/show": {
      "get": {
        "description": "Bot info (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include_events",
            "type": "boolean",
            "required": false
          },
          {
            "in": "path",
            "name": "bot_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Bot info (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "bots"
        ],
        "operationId": "getVer1BotsBotIdShow"
      }
    },
    "/ver1/deals": {
      "get": {
        "description": "User deals (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Limit records. Max: 1_000",
            "type": "integer",
            "format": "int32",
            "default": 50,
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Offset records",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "from",
            "description": "Param for a filter by created date",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "account_id",
            "description": "Account to show bots on. Return all if not specified. Gather this from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "bot_id",
            "description": "Bot show deals on. Return all if not specified",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "query",
            "name": "scope",
            "description": "active - active deals, finished - finished deals, completed - successfully completed, cancelled - cancelled deals, failed - failed deals, any other value or null (default) - all deals",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "type": "string",
            "default": "created_at",
            "enum": [
              "created_at",
              "updated_at",
              "closed_at",
              "profit",
              "profit_percentage"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "order_direction",
            "type": "string",
            "default": "desc",
            "enum": [
              "asc",
              "desc"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "base",
            "description": "Base currency",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "quote",
            "description": "Quote currency",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "User deals (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "getVer1Deals"
      }
    },
    "/ver1/deals/{deal_id}/convert_to_smart_trade": {
      "post": {
        "description": "Convert to smart trade (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "stop_bot",
            "type": "boolean",
            "required": false
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Convert to smart trade (Permission: SMART_TRADE_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdConvertToSmartTrade"
      }
    },
    "/ver1/deals/{deal_id}/update_max_safety_orders": {
      "post": {
        "description": "Update max safety orders (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "max_safety_orders",
            "description": "New maximum safety orders value",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Update max safety orders (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdUpdateMaxSafetyOrders"
      }
    },
    "/ver1/deals/{deal_id}/panic_sell": {
      "post": {
        "description": "Panic sell deal (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Panic sell deal (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdPanicSell"
      }
    },
    "/ver1/deals/{deal_id}/cancel": {
      "post": {
        "description": "Cancel deal (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Cancel deal (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdCancel"
      }
    },
    "/ver1/deals/{deal_id}/update_deal": {
      "patch": {
        "description": "Update deal (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "take_profit",
            "description": "New take profit value",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "profit_currency",
            "type": "string",
            "enum": [
              "quote_currency",
              "base_currency"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_type",
            "description": "base – from base order, total – from total volume",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_deviation",
            "description": "New trailing deviation value",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_percentage",
            "description": "New stop loss percentage value",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "max_safety_orders",
            "description": "New max safety orders value",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "active_safety_orders_count",
            "description": "New active safety orders count value",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_in_seconds",
            "description": "StopLoss timeout in seconds if StopLoss timeout enabled",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "formData",
            "name": "tsl_enabled",
            "description": "Trailing stop loss enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_type",
            "type": "string",
            "enum": [
              "stop_loss",
              "stop_loss_and_disable_bot"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "close_timeout",
            "description": "Close deal after given number of seconds. Must be greater than 60.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Update deal (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "patchVer1DealsDealIdUpdateDeal"
      }
    },
    "/ver1/deals/{deal_id}/update_tp": {
      "post": {
        "description": "DEPRECATED, Update take profit condition. Deal status should be bought (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "new_take_profit_percentage",
            "description": "New take profit value",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "DEPRECATED, Update take profit condition. Deal status should be bought (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdUpdateTp"
      }
    },
    "/ver1/deals/{deal_id}/show": {
      "get": {
        "description": "Info about specific deal (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Info about specific deal (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "getVer1DealsDealIdShow"
      }
    },
    "/ver1/deals/{deal_id}/cancel_order": {
      "post": {
        "description": "Cancel manual safety orders (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "order_id",
            "description": "manual safety order id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Cancel manual safety orders (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdCancelOrder"
      }
    },
    "/ver1/deals/{deal_id}/market_orders": {
      "get": {
        "description": "Deal safety orders (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Deal safety orders (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "getVer1DealsDealIdMarketOrders"
      }
    },
    "/ver1/deals/{deal_id}/add_funds": {
      "post": {
        "description": "Adding manual safety order (Permission: BOTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "quantity",
            "description": "safety order quantity",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "is_market",
            "description": "true - use MARKET order, false - use LIMIT order",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "response_type",
            "type": "string",
            "default": "empty",
            "enum": [
              "empty",
              "deal",
              "market_order"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "rate",
            "description": "safety order rate. Required if LIMIT order used",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Adding manual safety order (Permission: BOTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "postVer1DealsDealIdAddFunds"
      }
    },
    "/ver1/deals/{deal_id}/data_for_adding_funds": {
      "get": {
        "description": "Info required to add funds correctly: available amounts, exchange limitations etc  (Permission: BOTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deal_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Info required to add funds correctly: available amounts, exchange limitations etc  (Permission: BOTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "deals"
        ],
        "operationId": "getVer1DealsDealIdDataForAddingFunds"
      }
    },
    "/ver1/users/current_mode": {
      "get": {
        "description": "Current User Mode (Paper or Real) (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current User Mode (Paper or Real) (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "getVer1UsersCurrentMode"
      }
    },
    "/ver1/users/change_mode": {
      "post": {
        "description": "Change User Mode (Paper or Real) (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "mode",
            "type": "string",
            "enum": [
              "paper",
              "real"
            ],
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Change User Mode (Paper or Real) (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "users"
        ],
        "operationId": "postVer1UsersChangeMode"
      }
    },
    "/ver1/accounts/transfer": {
      "post": {
        "description": "Transfer coins between accounts (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "currency",
            "description": "Currency code(example: USDT)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "amount",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "to_account_id",
            "description": "Recipient account ID (possible values in /transfer_data)",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "from_account_id",
            "description": "Sender account ID (possible values in /transfer_data)",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Transfer coins between accounts (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsTransfer"
      }
    },
    "/ver1/accounts/transfer_history": {
      "get": {
        "description": "Transfers history (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "account_id",
            "description": "Sender or Recipient account ID (possible values in /transfer_data)",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "currency",
            "description": "Currency code(example: USDT)",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "required": false
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Elements per page",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Transfers history (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsTransferHistory"
      }
    },
    "/ver1/accounts/transfer_data": {
      "get": {
        "description": "Data for transfer between accounts (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Data for transfer between accounts (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsTransferData"
      }
    },
    "/ver1/accounts/new": {
      "post": {
        "description": "Add exchange account  (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "type",
            "description": "check market_code in market_list method",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "name",
            "description": "Account name (any string)",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "api_key",
            "description": "Requires unless type = binance_dex",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "secret",
            "description": "Requires unless type = binance_dex",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "address",
            "description": "Requires if type = ethereumwallet",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "customer_id",
            "description": "For Bitstamp",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "passphrase",
            "description": "For Coinbase Pro (GDAX)",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "how_connect",
            "type": "string",
            "enum": [
              "mnemonic_phrase",
              "keystore"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "keystore",
            "description": "keystore file content. Requires if type = binance_dex and how_connect = keystore",
            "type": "json",
            "required": false
          },
          {
            "in": "formData",
            "name": "wallet_password",
            "description": "Requires if type = binance_dex and how_connect = keystore",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "mnemonic_phrase",
            "description": "Requires if type = binance_dex and how_connect = mnemonic_phrase",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Add exchange account  (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsNew"
      }
    },
    "/ver1/accounts/update": {
      "post": {
        "description": "Edit exchange account",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "name",
            "description": "Account name (any string)",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "api_key",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "secret",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "customer_id",
            "description": "For Bitstamp",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "passphrase",
            "description": "For Coinbase Pro (GDAX)",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "address",
            "description": "For accounts with type = ethereumwallet",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "how_connect",
            "type": "string",
            "enum": [
              "mnemonic_phrase",
              "keystore"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "keystore",
            "type": "json",
            "required": false
          },
          {
            "in": "formData",
            "name": "wallet_password",
            "type": "string",
            "required": false
          },
          {
            "in": "formData",
            "name": "mnemonic_phrase",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Edit exchange account"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsUpdate"
      }
    },
    "/ver1/accounts": {
      "get": {
        "description": "User connected exchanges(and EthereumWallet) list (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "User connected exchanges(and EthereumWallet) list (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1Accounts"
      }
    },
    "/ver1/accounts/market_list": {
      "get": {
        "description": "Supported markets list (Permission: NONE, Security: NONE)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Supported markets list (Permission: NONE, Security: NONE)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsMarketList"
      }
    },
    "/ver1/accounts/market_pairs": {
      "get": {
        "description": "All market pairs (Permission: NONE, Security: NONE)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pretty_display_type",
            "description": "deprecated. mandatory use market_code instead",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "market_code",
            "description": "market_code from account model",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "All market pairs (Permission: NONE, Security: NONE)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsMarketPairs"
      }
    },
    "/ver1/accounts/currency_rates_with_leverage_data": {
      "get": {
        "description": "Currency rates and limits with leverage data (Permission: NONE, Security: NONE)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "market_code",
            "description": "market_code from account model",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "pair",
            "description": "Pair",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Currency rates and limits with leverage data (Permission: NONE, Security: NONE)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsCurrencyRatesWithLeverageData"
      }
    },
    "/ver1/accounts/currency_rates": {
      "get": {
        "description": "Currency rates and limits (Permission: NONE, Security: NONE)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pretty_display_type",
            "description": "deprecated. use market_code instead",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "market_code",
            "description": "market_code from account model. If you are retrieving data for pairs, you must also include market_code",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "pair",
            "description": "Pair",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Currency rates and limits (Permission: NONE, Security: NONE)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsCurrencyRates"
      }
    },
    "/ver1/accounts/{account_id}/deposit_data": {
      "get": {
        "description": "User Deposit Data (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "currency",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "network",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "User Deposit Data (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountIdDepositData"
      }
    },
    "/ver1/accounts/{account_id}/networks_info": {
      "get": {
        "description": "Deposit/withdraw networks info (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "purpose",
            "description": "Filter currencies with deposit/withdraw enabled",
            "type": "string",
            "enum": [
              "deposit",
              "withdraw"
            ],
            "required": false
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit/withdraw networks info (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountIdNetworksInfo"
      }
    },
    "/ver1/accounts/{account_id}/convert_dust_to_bnb": {
      "post": {
        "description": "Convert dust coins to BNB (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "codes",
            "description": "Array of currency codes",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Convert dust coins to BNB (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdConvertDustToBnb"
      }
    },
    "/ver1/accounts/{account_id}/active_trading_entities": {
      "get": {
        "description": "Active trade entities (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Active trade entities (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountIdActiveTradingEntities"
      }
    },
    "/ver1/accounts/{account_id}/sell_all_to_usd": {
      "post": {
        "description": "Sell all to USD  (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Sell all to USD  (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdSellAllToUsd"
      }
    },
    "/ver1/accounts/{account_id}/sell_all_to_btc": {
      "post": {
        "description": "Sell all to BTC  (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Sell all to BTC  (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdSellAllToBtc"
      }
    },
    "/ver1/accounts/{account_id}/balance_chart_data": {
      "get": {
        "description": "balance history data (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date_from",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "query",
            "name": "date_to",
            "type": "string",
            "format": "date-time",
            "required": false
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "balance history data (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountIdBalanceChartData"
      }
    },
    "/ver1/accounts/{account_id}/load_balances": {
      "post": {
        "description": "Load balances for specified exchange  (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Load balances for specified exchange  (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdLoadBalances"
      }
    },
    "/ver1/accounts/{account_id}/rename": {
      "post": {
        "description": "Rename exchange connection  (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Rename exchange connection  (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdRename"
      }
    },
    "/ver1/accounts/{account_id}/pie_chart_data": {
      "post": {
        "description": "Information about all user balances on specified exchange in pretty for pie chart format (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Information about all user balances on specified exchange in pretty for pie chart format (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdPieChartData"
      }
    },
    "/ver1/accounts/{account_id}/account_table_data": {
      "post": {
        "description": "Information about all user balances on specified exchange  (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Information about all user balances on specified exchange  (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdAccountTableData"
      }
    },
    "/ver1/accounts/{account_id}/remove": {
      "post": {
        "description": "Remove exchange connection  (Permission: ACCOUNTS_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Remove exchange connection  (Permission: ACCOUNTS_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "postVer1AccountsAccountIdRemove"
      }
    },
    "/ver1/accounts/{account_id}/leverage_data": {
      "get": {
        "description": "Information about account leverage (Permission: ACCOUNTS_READ, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Information about account leverage (Permission: ACCOUNTS_READ, Security: SIGNED)"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountIdLeverageData"
      }
    },
    "/ver1/accounts/{account_id}": {
      "get": {
        "description": "Single Account Info (Permission: ACCOUNTS_READ, Security: SIGNED)\nYou can send 'summary' instead of {account_id} to get summary account info",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Single Account Info (Permission: ACCOUNTS_READ, Security: SIGNED)\nYou can send 'summary' instead of {account_id} to get summary account info"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "getVer1AccountsAccountId"
      }
    },
    "/ver1/smart_trades/create_simple_sell": {
      "post": {
        "description": "Create SimpleSell (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "units_to_buy",
            "description": "Amount of units to buy",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "buy_price",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "conditional_limit_price",
            "description": "Order price for conditional SimpleSell with limit order",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "buy_method",
            "type": "string",
            "default": "limit",
            "enum": [
              "limit",
              "market",
              "conditional"
            ],
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Create SimpleSell (Permission: SMART_TRADE_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "smart_trades"
        ],
        "operationId": "postVer1SmartTradesCreateSimpleSell"
      }
    },
    "/ver1/smart_trades/create_simple_buy": {
      "post": {
        "description": "Create SimpleBuy (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "units_to_buy",
            "description": "Amount of units to buy",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "buy_price",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "conditional_limit_price",
            "description": "Order price for conditional SimpleBuy with limit order",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "buy_method",
            "type": "string",
            "default": "limit",
            "enum": [
              "limit",
              "market",
              "conditional"
            ],
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Create SimpleBuy (Permission: SMART_TRADE_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "smart_trades"
        ],
        "operationId": "postVer1SmartTradesCreateSimpleBuy"
      }
    },
    "/ver1/smart_trades/create_smart_sell": {
      "post": {
        "description": "Create SmartSale (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "units_to_buy",
            "description": "Bought amount",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "average_buy_price",
            "description": "Bought price",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "take_profit_enabled",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "take_profit_type",
            "description": "Required if take_profit_enabled. classic - common take profit, step_sell - step sell take profit",
            "type": "string",
            "enum": [
              "classic",
              "step_sell"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_price_condition",
            "description": "Required if take_profit_type = classic",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_percentage_condition",
            "description": "Required if take_profit_type = classic AND trailing_buy_enabled. Must be positive",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[percent]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "required": true,
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "required": false,
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price_method]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "default": "bid",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "bid",
                "ask",
                "last"
              ]
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price_percentage]",
            "description": "Required if take_profit_step_orders AND trailing_buy_enabled. Must be positive",
            "type": "array",
            "required": false,
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_price_method",
            "description": "Price type for take profit(bid,asl,last)",
            "type": "string",
            "default": "bid",
            "enum": [
              "bid",
              "ask",
              "last"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_sell_method",
            "type": "string",
            "default": "market",
            "enum": [
              "market",
              "limit"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_sell_order_price",
            "description": "Required if limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_take_profit",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_take_profit_step",
            "description": "Required if trailing_take_profit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_enabled",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "stop_loss_price_condition",
            "description": "Required if stop_loss_enabled",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_percentage_condition",
            "description": "Required if stop_loss_enabled AND trailing_buy_enabled. Must be negative",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_price_method",
            "description": "Price type for stop loss",
            "type": "string",
            "default": "bid",
            "enum": [
              "bid",
              "ask",
              "last"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_sell_method",
            "type": "string",
            "default": "market",
            "enum": [
              "market",
              "limit"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_sell_order_price",
            "description": "Required if limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_stop_loss",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_seconds",
            "description": "Timeout in seconds",
            "type": "integer",
            "format": "int32",
            "default": 300,
            "required": false
          },
          {
            "in": "formData",
            "name": "note",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create SmartSale (Permission: SMART_TRADE_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "smart_trades"
        ],
        "operationId": "postVer1SmartTradesCreateSmartSell"
      }
    },
    "/ver1/smart_trades/create_smart_cover": {
      "post": {
        "description": "Create SmartCover (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "units_to_buy",
            "description": "Amount of units to buy",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "buy_price",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
            "name": "conditional_limit_price",
            "description": "Order price for conditional SmartCover with limit order",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "buy_method",
            "type": "string",
            "default": "limit",
            "enum": [
              "limit",
              "market",
              "conditional"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_buy_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_buy_step",
            "description": "Required if trailing_buy_enabled",
            "type": "number",
            "format": "float",
            "default": 5.0,
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_enabled",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "take_profit_type",
            "description": "Required if take_profit_enabled. classic - common take profit, step_sell - step sell take profit",
            "type": "string",
            "enum": [
              "classic",
              "step_sell"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_price_condition",
            "description": "Required if take_profit_type = classic",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_percentage_condition",
            "description": "Required if take_profit_type = classic AND trailing_buy_enabled. Must be negative",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[percent]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "required": true,
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "required": false,
            "items": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price_method]",
            "description": "Required if take_profit_step_orders",
            "type": "array",
            "default": "bid",
            "required": true,
            "items": {
              "type": "string",
              "enum": [
                "bid",
                "ask",
                "last"
              ]
            }
          },
          {
            "in": "formData",
            "name": "take_profit_step_orders[price_percentage]",
            "description": "Required if take_profit_step_orders AND trailing_buy_enabled. Must be negative",
            "type": "array",
            "required": false,
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "in": "formData",
            "name": "take_profit_price_method",
            "description": "Price type for take profit",
            "type": "string",
            "default": "bid",
            "enum": [
              "bid",
              "ask",
              "last"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_sell_method",
            "type": "string",
            "default": "market",
            "enum": [
              "market",
              "limit"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "take_profit_sell_order_price",
            "description": "Required if limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_take_profit",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_take_profit_step",
            "description": "Required if trailing_take_profit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_enabled",
            "type": "boolean",
            "required": true
          },
          {
            "in": "formData",
            "name": "stop_loss_price_condition",
            "description": "Required if stop_loss_enabled",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_percentage_condition",
            "description": "Required if stop_loss_enabled AND trailing_buy_enabled. Must Be positive",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_price_method",
            "description": "Price type for stop loss",
            "type": "string",
            "default": "bid",
            "enum": [
              "bid",
              "ask",
              "last"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_sell_method",
            "type": "string",
            "default": "market",
            "enum": [
              "market",
              "limit"
            ],
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_sell_order_price",
            "description": "Required if limit",
            "type": "number",
            "format": "double",
            "required": false
          },
          {
            "in": "formData",
            "name": "trailing_stop_loss",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_enabled",
            "type": "boolean",
            "required": false
          },
          {
            "in": "formData",
            "name": "stop_loss_timeout_seconds",
            "description": "timeout in seconds",
            "type": "integer",
            "format": "int32",
            "default": 300,
            "required": false
          },
          {
            "in": "formData",
            "name": "note",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "description": "Create SmartCover (Permission: SMART_TRADE_WRITE, Security: SIGNED)"
          }
        },
        "tags": [
          "smart_trades"
        ],
        "operationId": "postVer1SmartTradesCreateSmartCover"
      }
    },
    "/ver1/smart_trades/create_smart_trade": {
      "post": {
        "description": "Create SmartTrade (Permission: SMART_TRADE_WRITE, Security: SIGNED)",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "account_id",
            "description": "id from GET /ver1/accounts",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "formData",
            "name": "pair",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "units_to_buy",
            "description": "Amount of units to buy",
            "type": "number",
            "format": "double",
            "required": true
          },
          {
            "in": "formData",
[...]
