.home__icon-light,
.home__icon-dark {
  width: 20px;
  height: 20px;
}

.home__icon-light {
  display: block;
}

.home__icon-dark {
  display: none;
}

[data-theme="dark"] .home__icon-light {
  display: none;
}

[data-theme="dark"] .home__icon-dark {
  display: block;
}
