.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin-bottom: var(--ifm-heading-margin-bottom);

  @media (min-width: 997px) {
    flex-direction: row;
  }
}

.container {
  display: flex;
  align-items: center;
  padding: 8px 6px;
  width: 100%;
  gap: 8px;
  border-radius: 8px;
  background: var(--ifm-code-background);
  font-style: normal;
  font-family: JetBrains Mono, monospace;
  font-size: 14px;
  word-break: break-word;
  line-height: 1.5;
}

.permissions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.url {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
