.root {
  margin-left: calc(0.5rem + 12px);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 8px;
}

.container {
  display: flex;
  align-items: center;
  padding: 6px;
  gap: 8px;
  border-radius: 8px;
  background: var(--ifm-code-background);
  font-style: normal;
  font-family: JetBrains Mono, monospace;
  font-size: 14px;
  word-break: break-word;
  line-height: 1.5;
}

.permissions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.url {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}
