@media (min-width: 997px) {
  .sidebarBase {
    background-color: transparent;
    overflow: hidden;
    height: calc(100vh - var(--ifm-navbar-height));
    width: var(--doc-sidebar-width);
    position: relative;
  }

  .sidebarPinned {
    position: sticky;
    top: var(--ifm-navbar-height);
    z-index: 2;
  }
  .sidebarUnpinned {
    position: fixed;
    z-index: 199;
  }

  .sidebarAnimated {
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease;
    background-color: var(--navigation-background-color);
  }

  .sidebarAnimatedOpen {
    width: var(--doc-sidebar-width);
  }

  .sidebarAnimatedClosed {
    width: 0;
  }

  .sidebarBase aside {
    margin-top: 0 !important;
    height: 100%;
  }
}
