.homePageItemLink {
  display: flex;
  gap: 16px;
  cursor: pointer;
  text-decoration: none;


  &:hover {
    .homePageItemDescription {
      color: var(--ifm-heading-color);
    }

    .homePageItemIconWrapper {
      background-color: #13a8a1;

      > div > svg > path {
        stroke: #ffffff;
      }

      div svg g rect {
        fill: #ffffff;
      }
    }
  }
}

.homePageItemIconWrapper {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  background-color: var(--home-page-icon-background-color);
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  > div > svg > path {
    transition: stroke 0.2s ease;
  }

  div svg g rect {
    transition: fill 0.2s ease;
  }
}

.homePageItemIconWrapper svg mask {
  width: 20px;
  height: 20px;
  fill: var(--menu-link-color-active);
}

.homePageItemContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.homePageItemTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--menu-link-primary-color);
  margin: 0;
}

.homePageItemDescription {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--sidebar-links-color);
  margin: 0;
  transition: color 0.2s ease;
}

@media (min-width: 648px) and (max-width: 996px) {
  .homePageItemTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .homePageItemDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }
}

@media (max-width: 647px) {
  .homePageItemTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .homePageItemDescription {
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}
