.home_page-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 80px;
  place-content: center;
  margin-top: 60px;
}

@media (max-width: 796px) {
  .home_page-wrapper {
    grid-template-columns: 1fr;
  }
}
