.categoryTitle {
    color: #B8B8B8;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
