.collapseIcon {
  transform: rotate(0deg);
  transition: var(--transition);
  color: var(--ifm-toc-link-color);
}

.name {
  font-weight: 500;
}

.type {
  color: var(--ifm-toc-link-color);
  font-size: 85%;
  line-height: 1rem;
}

.anchor {
  position: absolute;
  right: 100%;
  opacity: 0;
  padding-right: .5rem;
  display: inline-grid;
  place-items: center;
  color: inherit;
}

.anchor svg {
  fill: currentColor
}

.required {
  color: var(--ifm-color-danger);
  font-size: 85%;
  line-height: 1rem;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.content {
  overflow: hidden;

  &[data-state='open'] {
    animation: slideDown 150ms ease-out;
  }
  &[data-state='closed'] {
    animation: slideUp 150ms ease-out;
  }
}

.details {
  --transition: all 150ms ease-out;
  --icon-size: 12px;
  --gap: 0.5rem;
  margin-bottom: var(--api-param-margin-bottom);
  background: none;
  border: none;
  box-shadow: none;
  scroll-margin-top: var(--ifm-navbar-height);

  @media screen and (min-width: 997px) {
    &:hover .anchor {
      opacity: 1;
    }
  }

  ::before {
    display: none;
  }

  p {
    margin-bottom: 0;
  }

  .collapseIcon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &[data-state='open'] .collapseIcon {
    transform: rotate(90deg);
  }
}

.summary {
  padding: 0;
  display: flex;
  align-items: center;
  gap: var(--gap);
  min-height: 32px;
  cursor: pointer;
  position: relative;

  + div {
    padding-left: calc(var(--icon-size) + var(--gap));

    > * {
      padding-top: 0;
    }
  }
}

.marginBottom {
  margin-bottom: var(--ifm-spacing-vertical);
}
