.button {
  border-radius: var(--ifm-pagination-nav-border-radius);
  height: 2.5rem;
  padding: 0.25rem 1.5rem;
  font-weight: 600;
  width: fit-content;
  margin-top: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

[data-theme="dark"] .button {
  background-color: var(--ifm-color-primary-dark);
  border: 1px solid var(--ifm-color-primary-darkest);
}

[data-theme="light"] .button {
  background-color: var(--ifm-color-primary-lightest);
  border: 1px solid var(--ifm-color-primary-lightest);
}

.button:active {
  transform: scale(0.95);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.9;
}
