.root {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--api-param-margin-bottom);
  scroll-margin-top: var(--ifm-navbar-height);

  p {
    margin: 0;
  }

  @media screen and (min-width: 997px) {
    &:hover .anchor {
      opacity: 1;
    }
  }
}

.name {
  font-weight: 600;

  [data-theme="dark"] & {
    color: #fff;
  }
}

.type {
  color: var(--ifm-toc-link-color);
  font-size: 85%;
  line-height: 1rem;
}

.anchor {
  position: absolute;
  right: 100%;
  opacity: 0;
  padding-right: .5rem;
  color: inherit;
}

.anchor svg {
  fill: currentColor
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  min-height: 32px;
  position: relative;
}

.marginBottom {
  margin-bottom: var(--ifm-spacing-vertical);
}

.required {
  color: var(--ifm-color-danger);
  font-size: 85%;
  line-height: 1rem;
}
