.root {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--api-param-margin-bottom);
  scroll-margin-top: var(--ifm-navbar-height);
  font-size: var(--text-size);
  line-height: 1.5;

  p {
    margin: 0;
  }

  @media screen and (min-width: 997px) {
    .header:hover > a.anchor {
      opacity: 1;
    }
  }
}

.root > p {
  color: var(--text-content-color);
}

.root > p > code {
  color: var(--ifm-heading-color);
}

.name {
  font-weight: 600;
  color: var(--ifm-heading-color);
  line-height: 1.5;
}

.type {
  color: var(--text-content-color);
  font-size: var(--text-size);
  line-height: 1.5;
}

.anchor {
  top: 3px;
  position: absolute;
  right: 100%;
  opacity: 0;
  padding-right: 0.5rem;
  color: inherit;
  transition:
    transform,
    opacity var(--ifm-transition-fast) ease;
}

.anchor svg {
  fill: currentColor;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  line-height: 1.5;
  position: relative;
  margin-bottom: 0.4rem;
}

.marginBottom {
  margin-bottom: var(--ifm-spacing-vertical);
}

.required {
  color: var(--ifm-color-danger);
  font-size: var(--text-size);
  line-height: 1.5;
}

.parameter-range {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: var(--text-size);
  line-height: 1.5;
  margin-top: 0.5rem;
}

.value code {
  margin-left: 0.25rem;
  color: var(--ifm-heading-color);
}

.min {
  color: #13a8a1;
}

.max {
  color: #e7596a;
}

.default {
  color: #2196f3;
}
